*.o
*.cmd
*.ko

.config
.config.old
.missing-syscalls.d
.tmp_*
.version
boot.img
boot.img-kernel
vmlinux
vmlinux.lds
Module.symvers
System.map
modules.order
arch/arm/boot/Image
arch/arm/boot/zImage
arch/arm/boot/compressed/piggy.gz
arch/arm/kernel/asm-offsets.s
arch/arm/lib/lib.a
arch/arm/mach-msm/dal_remotetest.mod.c
arch/arm/mach-msm/reset_modem.mod.c
arch/arm/oprofile/oprofile.mod.c
crypto/ansi_cprng.mod.c
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
drivers/input/evbug.mod.c
drivers/net/wireless/bcm4329/bcm4329.mod.c
drivers/scsi/scsi_wait_scan.mod.c
include/asm
include/asm-arm/asm-offsets.h
include/asm-arm/mach-types.h
include/config/
include/config/kernel.release
include/linux/autoconf.h
include/linux/bounds.h
include/linux/compile.h
include/linux/utsrelease.h
include/linux/version.h
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
net/sched/cls_flow.mod.c
net/sched/sch_dsmark.mod.c
ramdisk_cm9/
ramdisk_fxp152/
ramdisk_kxp/
ramdisk_new/
ramdisk_old/
ramdisk/sbin/aroma-res.zip
ramdisk/sbin/ramdisk-jb.cpio
ramdisk/sbin/ramdisk-recovery.cpio
scripts/
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio

