*.o
*.cmd
*.ko

.config
.config.old
.missing-syscalls.d
.tmp_*
.version
boot.img
boot.img-kernel
vmlinux
vmlinux.lds
Module.symvers
System.map
modules.order
arch/arm/boot/Image
arch/arm/boot/zImage
arch/arm/boot/compressed/piggy.gz
arch/arm/kernel/asm-offsets.s
ramdisk_fxp152/
scripts/

